asgiref==3.11.1
charset-normalizer==3.4.7
Django==5.2.14
et_xmlfile==2.0.0
gunicorn==26.0.0
openpyxl==3.1.5
packaging==26.2
pillow==12.2.0
pypdf==6.12.2
reportlab==4.5.1
sqlparse==0.5.5
tzdata==2026.2
whitenoise==6.12.0
